.text {
	COLOR: #000000; 
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
	font-weight: bold;
}	

.text_01 {
	COLOR: #333333; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
}

.footer_bg {
	background-image: url(images/on-lyne_base.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.main_text {
	COLOR: #FF3333; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: bold;
}
	.menu1ink {
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}

.menu1ink_text {
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
.menu1ink_text:hover{
	COLOR: #d8cba8;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
	.menuonlinetext {
	COLOR: #f9fb66; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
	
.menuonline_text {
	COLOR: #f9fb66; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
.menuonlinetext:hover {
	COLOR: #d8cba8; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
	.wel_text {
	COLOR: #336699; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 18px;
	font-weight: normal;
}

.boby_text {
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
	font-weight: normal;
	line-height: 15px;
}

.camp_text {
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
	font-weight: normal;
	line-height: 16px;
}

.footer_text {
	COLOR: #336699;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
	font-weight: normal;
	text-decoration: none;
}
.mission_bg {
	background-image: url(images/mis_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.box_bg {
	background-image: url(images/green_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.links{
	COLOR: #336699; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	text-decoration:none;
}
.links:hover {
	COLOR: #ff3333; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 12px;
	text-decoration:underline;
}

.sitelinks{
	COLOR: #3799c0; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 13px;
	text-decoration:none;
}
.sitelinks:visited {
	COLOR: #3799c0; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 13px;
	text-decoration:none;
}
.sitelinks:hover {
	COLOR: #1e739a; 
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 13px;
	text-decoration:none;
}

.email { 
font-size : 12px; color : #000000; font-family : Verdana; text-decoration : none; 
} 
.email:visited { 
font-size : 12px; color : #000000; font-family : Verdana; text-decoration : none; 
} 
.email:hover { 
font-size : 12px; color : #872325; font-family : Verdana; text-decoration : underline; 
} 